[data-dropdown] {
    position: relative;    
}

[data-dropdown] .dropdown-menu {
    display: none;
}
[data-dropdown] .dropdown-menu.active { 
    display: block;   
}

.dropdown-menu {
    position: absolute;
    top: 3rem;
    background-color: #E54;
    border: 2px solid #333;
    z-index: 200;
}

.dropdown-menu::before{
    content: "";
    display:block;
    position:absolute;
    top:-.5rem;
    left:0;
    width:0px;
    height:0px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom: 10px solid #E54;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu li a:hover {
    color: #fff;
}

