.modal-container {
    display: none;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 2000;
}
.modal-container.ativo{
    display: grid;
}

.modal {
    position: relative;
    min-width: 300px;
    background-color: white;
    padding:40px;
    border: 10px solid #fb5;
    box-shadow: 0px 0px 0px 10px white;   
}

.modal label {
    display: block;

    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 700;

    margin: 1rem 0 .5rem 0;
}

.modal input {
    width: 100%;
    padding: .7rem .5rem;
    box-sizing:border-box;

}

.modal button[type=submit] {
    display: block;
    margin-top: 1rem;
    padding: .7rem 2rem;
    background-color: #e54;
    border:none;
    border-radius: 4px;
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
}

@keyframes showmodal{
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0,0);
    }
}

.ativo .modal {
    animation: showmodal .8s forwards;

}

.fechar { 
    position: absolute; 
    top: -30px;
    right: -30px;

    width: 50px;
    height: 50px;
    background-color: #e54;

    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0,0,0, 0.3) ;

    font-family: monospace;
    font-size: 1.2rem;
    color: white;

    cursor: pointer;
   
}


